<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{%  static 'css/adicionar_tutorial.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Tutoriais</title>
</head>

<body>
  <div class="body-content">

    <div class="voltar">
      <a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
    <form method="post" action="{% url 'adicionar_tutorial' %}">
      {% csrf_token %}
      <div class="card-adicionar-tutorial">
        <div class="titulo-tutorial collumstyle">
          <label>Título:</label>
          <input class="input-titulo-tutorial" type="text" name="titulo">
        </div>
        <div class="descricao-tutorial collumstyle">
          <label>Descrição:</label>
          <textarea class="input-descricao-tutoria" type="text" name="descricao"></textarea>
        </div>
        <!-- <div class="codigo-tutorial collumstyle">
                  <label>Código do tutorial:</label>
                  <textarea class="input-codigo-tutorial" type="text" name="codigo"></textarea>
                </div> -->
        <div id="inputs-codigo-marcacao">

        </div>
        <div class="buttons-codigo-marcacao">
          <div class="div-button-adicionar">
            <button class="button-adicionar-codigo-marcacao button-adicionar-codigo">
              + Código
            </button>
          </div>
          <div class="div-button-adicionar">
            <button class="button-adicionar-codigo-marcacao button-adicionar-marcacao">
              + Marcação
            </button>
          </div>
        </div>
        <div class="div-button-adicionar">
          <button class="button-adicionar" type="submit" value="Submit">
            Adicionar Tutorial
          </button>
        </div>

      </div>
  </div>
  </form>
  </div>
</body>
<script>
  const inputCodigo = `
  <div class="div-label-input">
    <label class="label">Código</label>
    <input class="input-code-marcacao" type="text" name="conteudos" />
    <input type="hidden" name="conteudos_tipo" value="c">
  </div>
`;

  const inputMarcacao = `
  <div class="div-label-input">
    <label class="label">Marcação</label>
    <input class="input-code-marcacao" type="text" name="conteudos" />
    <input type="hidden" name="conteudos_tipo" value="m">
  </div>
`;

  const botaoMaisCodigo = document.querySelector('.button-adicionar-codigo');
  const botaoMaisMarcacao = document.querySelector('.button-adicionar-marcacao');
  const inputs = document.querySelector('#inputs-codigo-marcacao');

  botaoMaisCodigo.addEventListener('click', (e) => {
    e.preventDefault();
    const inputWrapper = document.createElement('div');
    inputWrapper.innerHTML = inputCodigo;
    inputs.appendChild(inputWrapper);
  });

  botaoMaisMarcacao.addEventListener('click', (e) => {
    e.preventDefault();
    const inputWrapper = document.createElement('div');
    inputWrapper.innerHTML = inputMarcacao;
    inputs.appendChild(inputWrapper);
  });
</script>

</html>