<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%  static 'css/index.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Guia Dev</title>
</head>
<body>
  <header id="header">
    <div class="nomeUsuario" 
    style="display: flex; 
    flex-direction: row;
    width: 200px;
    position: absolute;
    left: 10px;
    ">
      <div>
        <h3>{{usuario.nome}}</h3>
      </div>
      <div>
        <h3>{{usuario.sobrenome}}</h3>
      </div>
    </div>
      <form method="post" id="form-pesquisa">
        {% csrf_token %}
        <input type="text" id="input-pesquisa" name="pesquisa" value=""/>
        <input type="submit" id="button-pesquisar" value="Pesquisar">
      </form>
      <form method="post">
        {% csrf_token %}
        <button class="sair" type="submit" name="sair" value="true">
          Sair
        </button>
      </form>
  </header>
  <div class="button-adicionar-tutorial-content">

    <a href="../adicionar_tutorial/">
      <button class="button-adicionar-tutorial">
        <i class="fa fa-solid fa-plus" aria-hidden="true"></i>
        Adicionar Tutorial
      </button>
    </a>
  </div>
    <div id="body-content">
      {% block tutoriais_index%}
      {% endblock %}
  </div>
</body>
</html>