{% extends "index.html" %}
{% block tutoriais_index%}
  {% for tutorial in tutoriais %}
  <div class="card">

    <form class="form-card" method="post">
      {% csrf_token %}

      <button type="submit" class="button-card-tutorial" name="id" value="{{tutorial.id}}">
        <div class="card-tutorial displayFlexCenter">
          <div>
            <strong>
              {{tutorial.titulo}}
            </strong>
          </div>
        </div>
      </button>
    </form>
    <div class="likes displayFlexCenter">
      <div>{{tutorial.total_likes}}</div>
      <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <input type="text" hidden name="id" value="{{tutorial.id}}" >
        <input type="text" hidden name="like" value=True >
        <input type="text" hidden name="copy" value='' >

        <button class="button-like" type="submit" value="Submit">
          <i class="fa fa-thumbs-up icone-like" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
    {% endfor %}
    {% endblock %}