<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%  static 'css/inicio.css' %}">

  <title>GuiaDev</title>
</head>

<body>
  <header class="header">
    <h1>GuiaDev</h1>
    <p>Diversos tutoriais em diversas linguagens de programação para ajudar desenvolvedores iniciantes.<br>Acesse para ver o conteúdo e sinta-se a vontade para contribuir com a plataforma.</p>
  </header>
  <section class="buttons">
    <a href="/login"><button class="button">Logar</button></a>
    <a href="/cadastrar"><button class="button">Cadastrar</button></a>
  </section>

</body>

</html>