:root {
  --cor1: #252525;
  --cor2: #393E46;
  --cor3: #0092CA;
  --cor4: #EEEEEE;
  --color-app: rgb(180, 175, 175);
  --color-hover: rgb(112, 110, 110);
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

body {
    width: 100vw;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
    padding-top: 5rem;
}

.form-login {
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #0005;
    border-radius: 20px;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
}

#login, #senha {
    height: 40px;
}

#button-login {
    margin-top: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--cor3);
    color: beige;
}

label {
    color: black;
}

.cadastre-se {
  text-align: center;
  margin-top: 1rem;
  height: 50px;

}

.cadastre-se  a{
  color:var(--cor3)
}