:root {
  --cor1: #252525;
  --cor2: #393E46;
  --cor3: #0092CA;
  --cor4: #EEEEEE;
  --color-app: rgb(180, 175, 175);
  --color-hover: rgb(112, 110, 110);
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

.displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--cor1);
}


/* HEARDER  ==========================\ */
#header {
  color: var(--white);
  background-color: var(--cor2);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#form-pesquisa {
  width: clamp(200px, 50%, 50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#input-pesquisa {
  border: none;
  border-radius: 2px;
  height: 25px;
  width: 100%;
  padding-left: 25px;
  outline: none;
}

#button-pesquisar {
  height: 25px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  color: var(--cor4);
  background-color: var(--cor3);
  border-radius: 5px;
}
/* HEARDER  ========================== */

/* BODY ============================== */

#body-content {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;
}

.form-card {
  position: relative;
}

.button-card-tutorial {
  background-color: var(--cor1);
  width: 100%;
  height: 100px;
  border: none;
  margin-bottom: 50px;
}

.card-tutorial {
  color: var(--cor4);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--cor2);
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  position: relative;
  z-index: 0;
  font-size: 22px;
}

.card-tutorial:hover {
  outline: 1px solid var(--cor4);
}


.likes {
  color: var(--cor4);
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.button-like {
  cursor: pointer;
  border: none;
  background-color: var(--cor3);
  border-radius: 5px;
}

.icone-like {
  color: var(--cor4);
}

.card {
  width: 100%;
  position: relative;
}

.button-adicionar-tutorial-content {
  width: 100%;
  height: 100px;
  padding-inline: 60px;
  display: flex;
  align-items: end;
}

.button-adicionar-tutorial {

  cursor: pointer;
  border-radius: 10px;
  width: max-content;
  background-color: var(--cor3);
  color: var(--cor4);
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  gap: 20px;
}

.sair {
  height: 25px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  color: var(--cor4);
  background-color: var(--cor3);
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 20%
}


.nomeUsuario {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

div {
  display: flex;
}
