*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  background-color: #4642423f;
  position: fixed;
  width: 250px;
  height: 100vh;
  left: -150px;
  transition: ease-out 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}

.menu:hover {
  left: 0;
}

.div-menu {
  font-weight: bold;
  font-size: 36px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 10px;
}

.div-menu:hover {
  background-color:  #46424281 ;
  cursor: pointer;
}

.fa {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50px;
}





.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1000px;
  padding: 100px;
}

.text-area {
  width: 100%;
  height: 800px;
  padding: 20px;
}









.envio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
  padding: 100px;
  gap: 50px;
}

.div-tabela {
  width: 100%;
}

.tabela {
  outline: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

.tabela td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabela tr:nth-child(even){background-color: #f2f2f2;}

.tabela tr:hover {background-color: #ddd;}

.tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}