{% extends "index.html" %}

{% block tutorial %}

{% load static %}

{% load class_tag %}


<div class="col-auto">
    <a href="{% url 'tutoriais' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

{% if tutorial.usuario.username == usuario.username %}
<div style="width:100%; display: flex; justify-content: end;">
    <form method="post" action="{% url 'tutorial' %}">
        {% csrf_token %}
        <input type="text" hidden name="id" value="{{tutorial.id}}">
        <input type="text" hidden name="delete" value='True'>
        <div class="col-auto">
            <button class="btn-circle btn-sm btn-danger" type="submit" value="Submit">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </form>
</div>
{% endif %}

<br><br>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{tutorial.titulo}}</h1>
    <h1 class="h5 mb-2 text-gray-800">by: {{tutorial.usuario.username}}</h1>
    <p class="mb-4">{{tutorial.descricao}}</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        {% for conteudo in conteudos %}
        {% if conteudo|get_class == 'Codigo' %}
        <div class="card-body bg-gray-900">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    {{conteudo.texto}}
                </div>
                <div class="col-auto">
                    <form method="post" action="{% url 'tutorial' %}">
                        {% csrf_token %}
                        <input type="text" hidden name="id" value="{{tutorial.id}}">
                        <input type="text" hidden name="like" value=''>
                        <input type="text" hidden name="copy" value='{{conteudo.id}}'>
                        <button class="btn btn-sm btn-secondary" type="submit" value="Submit">
                            <i class="fa fa-copy icone-copy" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>

        {% elif conteudo|get_class == 'Marcacao' %}
        <div class="card-body border-left-dark">
            {{conteudo.texto}}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div>
    <div class="col-auto">
        {{tutorial.total_likes}}
        <form method="post" action="{% url 'tutorial' %}">
            {% csrf_token %}
            <input type="text" hidden name="id" value="{{tutorial.id}}">
            <input type="text" hidden name="like" value=True>
            <input type="text" hidden name="copy" value=''>
            <button class="btn btn-sm btn-primary btn-circle" type="submit" value="Submit">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </button>
        </form>
    </div>

    <div class=" mb-4"></div>

    {% for comentario in comentarios %}
    <div class="col-auto">
        <div class="col-auto">
            <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" style="width: 40px;">
            <div>
                {{comentario.usuario.username}}
            </div>
        </div>
        <div class="col-auto">
            {{comentario.texto}}
        </div>
        <div class=" mb-4"></div>
    </div>
    {% endfor %}

    <div class="col-auto">
        <form method="post" class="form-comentario" action="{% url 'tutorial' %}">
            {% csrf_token %}
            <input type="text" hidden name="id" value="{{tutorial.id}}">
            <div class="card-adicionar-comentario">
                <div class="input-group">
                    <input type="text" name="comentario" class="form-control bg-light" placeholder="Digite um comentário...">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-icon-split" type="submit" value="Submit">
                            <span class="text">Comentar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

{% endblock tutorial %}